.fontawesome-test {
  display: flex;
  gap: 1ex;

  &::after {
    content: '';
    flex: none;
    inline-size: 1lh;
    background-color: green;
    mask: url('data-url:npm:fa-solid/check.svg') no-repeat center / contain;
  }
}
