{{#extend "tool"}}{{#content "body"}}

<div class="tool-index">
  <header>
    <h1>UC3 UI Toolkit</h1>
    <a href="https://github.com/cdlib/uc3-ui" target="_blank">GitHub Repository</a>
  </header>
  <aside>
    <fieldset>
      <legend>View Mode</legend>
      <input id="view-preview" type="radio" name="view" value="preview">
      <label for="view-preview">Preview</label>
      <input id="view-fullpage" type="radio" name="view" value="fullpage">
      <label for="view-fullpage">Full Page</label>
    </fieldset>
    <nav>
      <h2>Templates</h2>
      <ul>
        <li></li>
      </ul>
      <h2>Components</h2>
      <ul>
        <li><a href="src/components/bio-view.hbs">Bio</a></li>
        <li><a href="src/components/breadcrumb-view.hbs">Breadcrumb</a></li>
        <li><a href="src/components/footer-view.hbs">Footer</a></li>
        <li><a href="src/components/header-view.hbs">Header</a></li>
        <li><a href="src/components/headernav-view.hbs">Header Nav</a></li>
        <li><a href="src/components/parallax-view.hbs">Parallax</a></li>
        <li><a href="src/components/search-view.hbs">Search</a></li>
        <li><a href="src/components/thumbnail-view.hbs">Thumbnail</a></li>
      </ul>
      <h2>Elements</h2>
      <ul>
        <li><a href="src/elements/blockquotes-view.hbs">Blockquotes</a></li>
        <li><a href="src/elements/headings-view.hbs">Headings</a></li>
      </ul>
    </nav>
  </aside>
  <main>
    <iframe class="tool-preview" src="tool/preview.hbs" name="preview" frameborder="0"></iframe>
  </main>
</div>

{{/content}}{{/extend}}
