{{#extend "base"}}{{#content "body"}}
<div class="t-bios">
  {{> header }}
  <main id="maincontent" class="t-bios__content">
    <h1 class="c-ruled-heading">Meet the UC3 Team</h1>
    {{> bio-grid }}
    <h2 class="c-ruled-heading">UC3 Alumni</h2>
    {{> alumni }}
  </main>
  {{> footer }}
</div>
{{/content}}{{/extend}}
