{{#extend "base"}}{{#content "body"}}
<div class="t-home c-parallax">
  <div class="c-parallax__images" role="presentation">
    <img class="t-home__image-1" src="{{ home.parallax_image1 }}" alt="">
  </div>
  <div class="t-home__content-window-1 c-parallax__content-window">
    {{> header }}
    {{> mark }}
  </div>
  <aside class="t-home__content-1 c-parallax__content" aria-label="Service Areas">
    {{> portfolio }}
  </aside>
  <main id="maincontent" class="t-home__content-2 c-parallax__content">
    {{> ruled-heading }}
    {{> thumbnail-grid }}
    {{> see-all }}
    {{> featured }}
  </main>
  {{> footer }}
</div>
{{/content}}{{/extend}}
