{{#extend "base"}}{{#content "body"}}
  <h1>Test Template</h1>
  <img class="image-test" src="../images/UC3-logo.svg" alt="UC Curation Center logo">
  {{> component1 }}
  {{> component2 }}
{{/content}}{{/extend}}
