/* Alumni Component */

.c-alumni {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--uc3-space-lg);
  margin-block: unset;

  dt {
    font-size: 1.2rem;
    font-variant: small-caps;
  }

  dd {
    margin-inline: unset;
  }
}
