/* Bio Grid Component */

.c-bio-grid {
  display: grid;
  gap: var(--uc3-space-lg);
}

@media (width > 35rem) {
  .c-bio-grid {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}
