/* Header Component */

.c-footer {
  display: grid;
  padding: var(--uc3-space-base) var(--uc3-space-lg);
  gap: var(--uc3-space-base) var(--uc3-space-lg);
  background-color: var(--uc3-color-blue);
  color: white;

  h2 {
    margin-block: unset;
    font-size: 1.1rem;
    font-weight: 600;
  }

  h3 {
    margin-block-start: unset;
    font-size: 1rem;
  }

  p {
    margin-block: unset;
  }
}

.c-footer__logos {
  display: flex;
  gap: var(--uc3-space-lg);
  grid-row: 1;

  img {
    block-size: 3rem;
  }
}

.c-footer__more ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto auto;
  justify-content: start;
  gap: var(--uc3-space-sm) var(--uc3-space-base);
  padding: unset;
  list-style: none;
  
  a {
    color: currentcolor;
  }
}

@media (width > 50rem) {
  .c-footer {
    grid-template-columns: auto auto;

    .c-footer__more {
      grid-row: 1 / 4;
    }
  }
}
