/* Header Component */

.c-header {
  display: grid;
  position: relative;
  grid-template-columns: 5.1rem 1fr;
  align-items: start;
  padding: var(--uc3-space-lg);
  gap: var(--uc3-space-base);

  /* Backdrop blur */

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(1rem);
    mask-image:
      linear-gradient(to top, transparent, black 2rem),
      linear-gradient(to right, transparent, black 2rem),
      linear-gradient(to bottom, transparent, black 2rem),
      linear-gradient(to left, transparent, black 2rem);
    mask-composite: intersect;
  }
}

.c-headernav {
  grid-column: 1 / 3;
}

@media (width > 45rem) {
  .c-header {
    grid-template-columns: 15rem auto;
    grid-template-rows: 2.1rem auto;
    gap: var(--uc3-space-base) 4rem;

    .c-search {
      justify-self: end;
      inline-size: 20rem;
    }
  }

  .c-header__logo {
    grid-row: 1 / 3;
  }

  .c-headernav {
    grid-column: 2;
  }
}
