/* Lead Component */

.c-lead {
  color: var(--uc3-color-dark-blue);

  h1 {
    display: inline-block;
    margin-block: unset;
    padding: var(--uc3-space-sm) var(--uc3-space-base);
    backdrop-filter: var(--text-backdrop-filter);
  }

  p {
    max-inline-size: 25rem;
    margin-block: unset;
    padding: var(--uc3-space-base);
    font-size: 1.2rem;
    line-height: 1.5;
    backdrop-filter: blur(1rem);
  }

  h1 + p {
    margin-block-start: var(--uc3-space-base);
  }
}
