/* Mark Component */

.c-mark {
  --backdrop-spread: 20%;

  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--uc3-space-sm);
  margin-block: unset;
  padding-block: 1rem;
  color: var(--uc3-color-dark-blue);
  font-variant: small-caps;

  &::after {
    content: '';
    flex: none;
    inline-size: 5rem;
    aspect-ratio: 1 / 1;
    background: url('../images/cupped-hands.svg') center / contain no-repeat;
  }
}

@media (width > 42rem) {
  .c-mark {
    flex-direction: column-reverse;
    max-inline-size: 35rem;
    padding: 4rem;
    text-align: center;

    &::after {
      inline-size: 10rem;
    }
  }
}
