/* Mark Component */

.c-mark {
  --backdrop-spread: var(--uc3-space-sm);

  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  place-items: center;
  gap: calc(var(--backdrop-spread) + var(--uc3-space-base));
  margin-block: unset;
  padding-block: var(--backdrop-spread);
  padding-inline: 0 var(--backdrop-spread);
  color: var(--uc3-color-dark-blue);
  font-size: 1.6rem;
  font-variant: small-caps;

  &::before {
    content: '';
    inline-size: 4rem;
    aspect-ratio: 1 / 1;
    background: url('data-url:../images/uc3-star.svg') center / contain no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    inset-block: 0;
    inset-inline: calc(var(--backdrop-spread) * -1) 0; 
    z-index: -1;
    grid-column: 2;
    backdrop-filter: var(--text-backdrop-filter);
  }
}

@media (width > 42rem) {
  .c-mark {
    grid-template-columns: auto;
    max-inline-size: 25rem;
    padding-block: 0 var(--backdrop-spread);
    padding-inline: var(--backdrop-spread);
    text-align: center;

    &::before {
      inline-size: clamp(5rem, 13vw, 10rem);
    }

    &::after {
      inset-block: calc(var(--backdrop-spread) * -1) 0;
      inset-inline: calc(var(--backdrop-spread) * -1) 0;
      grid-column: 1;
      grid-row: 2;
    }
  }
}
