/* Mission Component */

.c-mission {
  padding-block: 6vw var(--uc3-space-lg);
  padding-inline: clamp(var(--uc3-space-lg), calc(25vw - 5rem), 15rem);
  color: var(--uc3-color-dark-blue);
  font-variant: small-caps;
  text-align: center;
}

.c-mission header {
  margin-block-end: var(--uc3-space-base);

  p {
    margin-block-start: unset;
    margin-block-end: 4rem;
    font-size: 1.5rem;
  }

  h2 {
    margin-block: unset;
    font-weight: 450;
  }
}

.c-mission__content {
  margin-block-end: 3rem;
  padding: var(--uc3-space-base);
  font-size: 1.3rem;
  line-height: var(--text-line-height);
  text-align: left;
  backdrop-filter: var(--text-backdrop-filter);

  > :last-child {
    margin-block-end: unset;
  }
}

.c-mission__link {
  color: currentcolor;
  font-size: 1.1rem;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.c-mission header p,
.c-mission header h2,
.c-mission > a {
  text-shadow:
    0 0 0.5rem white,
    0 0 0.5rem white;
}
