/* Orcid ID Component */

.c-orcid {
  display: inline-flex;
  gap: 0.3rem;
  word-break: break-word;

  &::before {
    content: '';
    flex: none;
    inline-size: 1lh;
    background: url('../images/orcid-logo.svg') top / contain no-repeat;
  }
}
