/* Parallax Component */

.c-parallax {
  --image-height: 45vw;

  height: 100vh;
  perspective: 3.5px;
}

.c-parallax__images {
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(1.3);

  img {
    width: 100%;
    object-fit: cover;
  }

  img:nth-child(1) {
    height: var(--image-height);
  }

  img:nth-child(2) {
    height: 100vh;
  }
}

.c-parallax__content-window {
  min-height: var(--image-height);
}

.c-parallax__content {
  background-color: white;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .c-parallax {
    overflow: hidden auto;
  }
}
