/* Portfolio Component */

.c-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--uc3-space-lg);
  margin-block: unset;
  padding-inline: unset;
}

.c-portfolio li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--uc3-space-sm);
  font-size: 1.1rem;
  font-variant: small-caps;
  text-align: center;

  &:nth-child(1) {
    --icon-url: url('data-url:../images/digital-preservation.svg');
  }

  &:nth-child(2) {
    --icon-url: url('data-url:../images/data-publication.svg');
  }

  &:nth-child(3) {
    --icon-url: url('data-url:../images/data-management.svg');
  }

  &:nth-child(4) {
    --icon-url: url('data-url:../images/training.svg');
  }

  &:nth-child(5) {
    --icon-url: url('data-url:../images/persistent-identifiers.svg');
  }
}

.c-portfolio a {
  display: flex;
  flex-direction: column;
  gap: var(--uc3-space-sm);
  color: black;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    flex: none;
    block-size: 3.5rem;
    background: var(--icon-url) center / contain no-repeat;
  }
}

@media (width > 54rem) {
  .c-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--uc3-space-base);
  }
}
