/* Search Result Component */

.c-search-result {
  h2 {
    margin-block: unset;
    font-size: 1.3rem;
    font-variant: normal;
    font-weight: 600;
  }

  p {
    margin-block: var(--uc3-space-sm);
  }

  a {
    color: var(--uc3-color-dark-blue);
  }
}
