/* Search Component */

.c-search {
  display: flex;
  border: 1px solid black;

  input {
    flex: 1 1 auto;
    inline-size: 100%;
    padding: 0.3rem 0.6rem;
    border: none;
  }

  button {
    padding-inline: 0.8rem;
    border: none;
    background-color: black;
    color: white;
  }
}
