{{#extend "base"}}{{#content "body"}}
{{!-- Add sample image and alignment for utility view --}}
  <img style="position: absolute; inset: 0; z-index: -1; min-inline-size: 100%;" src="https://picsum.photos/800/600" alt="">
  <div style="display: grid; place-content: center; height: 60vh; padding: 1rem;">
    {{> backdrop }}
  </div>
{{/content}}{{/extend}}
