<h2>Test Component Two</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta quod harum aperiam sequi quas minima, corporis temporibus saepe delectus natus, ut repellat ad iure nihil voluptatem adipisci, quo officia?</p>

<h3>{{test.title}}</h3>
<p>{{test.desc}}</p>
<p>{{test.text}}</p>
<p>The list of fruit below is generated data:</p>
<ul>
  {{#each test.fruit}}
  <li>{{this}}</li>
  {{/each}}
</ul>
