<section class="c-featured" style="background-image: url('{{ featured.image }}');">
  <h2>{{ featured.heading }}</h2>
  <div class="c-featured__content">
    <p>{{ featured.paragraph }}. <a href="">Learn more</a></p>
  </div>
</section>
