<footer class="c-footer">
  <div class="c-footer__main">
    <h2>UC3:: California Digital Library<br>
    University of California Curation Center (UC3)</h2>
    <p>UC3 is the digital curation program at California Digital Library. Our nission is to provide transformative preservation, curation, and research data management systems, services, and initiatives that sustain and promote open scholarship.</p>
  </div>
  <div class="c-footer__more">
    <h3>Learn more about UC3 and CDL</h3>
    <ul>
      <li><a href="">Contact Us</a></li>
      <li><a href="">UC3: What we do</a></li>
      <li><a href="">UC3: Who we are</a></li>
      <li><a href="">UC3: Twitter</a></li>
      <li><a href="">CDL: Website</a></li>
      <li><a href="">CDL: Twitter</a></li>
    </ul>
  </div>
</footer>
