<p class="c-metadata">
  Posted in
  {{#each metadata.data}}
    {{!-- if the last array item --}}
    {{#if @last}}
    and <a href="">{{this}}</a>
    {{else}}
    <a href="">{{this}}</a>,
    {{/if}}
  {{/each}}
</p>
