<section class="c-mission">
  <header>
    <p>Our Approach</p>
    <h2>{{ mission.heading }}</h2>
  </header>
  <div class="c-mission__content">{{ mission.content }}</div>
  <a class="c-mission__link" href="">What We're Doing</a>
</section>
