<nav class="c-pagination">
  <ul>
    <li><a href="" rel="prev" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page 1">1</a></li>
    <li><a href="" title="previous set of 5 pages">&hellip;</a></li>
    <li><a href="" aria-label="page 5">5</a></li>
    <li><a href="" aria-label="page 6">6</a></li>
    <li><a href="" aria-current="page" aria-label="page 7">7</a></li>
    <li><a href="" aria-label="page 8">8</a></li>
    <li><a href="" aria-label="page 9">9</a></li>
    <li><a href="" title="next set of 5 pages">&hellip;</a></li>
    <li><a href="" aria-label="page 20">20</a></li>
    <li><a href="" rel="next" aria-label="next page">Next</a></li>
  </ul>
</nav>
