<nav class="c-pagination">
  <ul>
    <li><a href="" rel="prev">Previous</a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><span class="c-pagination__dots">&hellip;</span></li>
    <li><a href="">35</a></li>
    <li><a href="" rel="next">Next</a></li>
  </ul>
</nav>
