<div class="c-parallax">
  <div class="c-parallax__images">
    <img src="{{ parallax.image1 }}" alt="">
    <img src="{{ parallax.image2 }}" alt="">
  </div>
  <div class="c-parallax__content-window">
    Header Content
  </div>
  <div class="c-parallax__content">
    <p>{{{ parallax.paragraphs1 }}}</p>
  </div>
  <div class="c-parallax__content-window">
    More Content
  </div>
  <div class="c-parallax__content">
    <p>{{{ parallax.paragraphs2 }}}</p>
  </div>
</div>
