<section class="c-portfolio">
  <h2 id="c-portfolio__heading">{{ portfolio.heading }}</h2>
  <img src="../images/ucop-logo.svg" alt="University of California">
  <img src="../images/cdl-logo.svg" alt="California Digital Library">
  <ul>
    {{#each listitems}}
    <li><a href="">{{ item.name }}</a></li>
    {{/each}}
  </ul>
</section>
