<a href="" class="c-profiles-orcid" aria-label=”View ORCID record”>{{ profile_link.orcid }}</a>
<a href="" class="c-profiles-linkedin">{{ profile_link.linkedin }}</a>
<a href="" class="c-profiles-github">{{ profile_link.github }}</a>
<a href="" class="c-profiles-other">{{ profile_link.other }}</a>
