<div class="c-search">
  <form popover id="search-form" class="c-search-form" role="search" action="/">
    <input type="search" name="s" aria-label="Search the California Digital Library">
    <button>Search</button>
  </form>
  <button popovertarget="search-form" class="c-search-toggle" aria-label="Toggle search field"></button>
</div>
