<section class="c-search-result">
  <header>
    <h2><a href="">{{ search_result.title }}</a></h2>
  </header>
  <p>{{{ search_result.description }}}</p>
  <time datetime="{{ search_result.datetime }}">{{ search_result.date }}</time>
</section>
