<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UC3 UI Build Tool</title>
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/tool.css">
  <script type="module" src="/js/tool.js"></script>
</head>
<body>
  {{#block "body"}}
    <p>(body block empty)</p>
  {{/block}}
</body>
</html>
